<div class="container">
  <div class="col-xs-12">
    <div class="row col-12 col-md-10 offset-md-1">
      <div class="about">
        <br />
        <h1>About Muir Words</h1>

        <p>
          Muir Words was built by <a target="_blank" href="http://github.com/jwmunn">Justin</a>. It&rsquo;s based off the Splurty quote generator app built as a student in The&nbsp;Firehose&nbsp;Project.
        </p>
        <br />
        <p>
          After my first visit to Muir Woods outside of San Fransisco, I began to learn more about the writings of John Muir and their influence on the preservation and discovery of the west coast wilderness areas. This is a collection of some of my favorite quotes, add your own to inspire the community to get outside!
        </p>
        <p>
          If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
        </p>
        <br class="clear" />
      </div>
    

      <div class="col-12 col-sm-4">
        <%= image_tag 'justin.jpg', class: 'img-fluid rounded-circle' %>
        <br class="clear" />
      </div>

      <div class="about col-12 col-sm-6">
        <h2 class="text-left">Justin Munn</h2>
        <br />
        <p>
         Justin Munn is a web developer with a past life as a web designer. He is currently co-building a hike planning tool called <a target="_blank" href="http://pathfinderhikes.com/">Pathfinder</a>, launching in 2017.
        </p>
      </div>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />