<div class="container">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-xs-12 about animated fadeIn">
      <h1>About Muir Words</h1>

      <p>
        Muir Words was built by <a target="_blank" href="http://github.com/jwmunn">Justin</a>. Based off the Splurty quote generator app built as a student in The Firehose Project.
      </p>
      <br />
      <p>
        After my first visit to Muir Woods outside of San Fransisco, I began to learn more about the man and words that had such an influence on the preservation and discovery of the west coast wilderness. This is a collection of some of my favorite quotes by John Muir, add your own to inspire the community to get outside!
      </p>
      <p>
        If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
      </p>
      <br class="clear" />
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= image_tag 'justin.jpg', class: 'img-responsive' %>
    </div>

    <div class="about col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-left">Justin Munn</h2>
      <br />
      <p>
        Marco Morawec is a web developer and user experience product manager. He consulted Fortune 500 companies like P&amp;G and John Deere, won Boston's biggest Hackathon (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user experience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500M/year international tuition payment platform. In an earlier life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for an entire year.
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />