@import "bootstrap";

body {
  background: none;
}

.clear {
  clear:both;
}

a {
  color: #8DC63F;
  &:hover {
    color: #8DC63F;
    border-bottom: 1px solid #8DC63F;
  }
}

header {
  border-top: 9px solid #222222;
}

.logo:hover {
  text-decoration: none;
  border-bottom: none;
}

hr {
  clear:both;
  margin-bottom: 0;
  -webkit-margin-after: 0;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;
}

h1.quote {
  font-size: 48px;
}
.quote {
  color: #fff;
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-weight: normal;
}

h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 span {
  color: #dddddd;
}

.author {
  font-style: italic;
  text-align: right;
}

.about h2 {
  font-style: normal;
  font-weight: bold;
  -webkit-margin-before: 0em;

}

/*.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}*/

.slogan {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 25px;
  font-size: 1.25em;
}

.about {
  font-family: Georgia, serif;
  font-size: 1.25em;
  line-height: 1.25;
}

.links {
  padding-top:36px;
  text-align: right;
  & a:first-child {
    margin-right: 1em;
  }
}

.links a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color:#222;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  transition: border-bottom .1s ease;
  &:hover {
    border-bottom: 2px solid #8DC63F;
  }
}

abbr[title] {
    border: none;
    color: #d9534f;
}

.next-quote {
  font-family: 'Open Sans Condensed', sans-serif;
  color:#8DC63F;
  font-size:20px;
  padding: 1em 2em;
  border: 2px solid #8DC63F;
  border-radius: 5px;
  transition: all .2s ease;
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  margin-top: 2em;

  &:hover {
    background: #8DC63F;
    color: #fff;
    text-decoration: none;
  }
}

.footer-blurb {
  text-align: right;
  font-size: 12px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.modal {
  font-family: Georgia, serif;
}

.modal-title, .modal label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.modal-footer {
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn-green {
  background: #fff;
  border: 1px solid #8DC63F;
  color: #8DC63F;
  transition: all .2s ease;
  &:hover {
    background: #8DC63F;
    color: #fff;
  }
}


::selection {
  background-color: #8DC63F;
}

a:hover, a:focus {
  text-decoration: none;
}

.top-margin {
  margin-top: 20vh;
}

.bg-img {
  height: 80vh;
}

.footer {
  background: #fff;
  padding-top: 1em;
}

.logo svg {
  margin-top: 25px;
  fill: #222;
  transition: fill .2s ease;
  &:hover {
    fill: #8DC63F;
  }
}

.sub-text {
  color: rgba(255,255,255,.6);
}

.underline {
  border-bottom: 1px solid #8DC63F;
  color: rgba(255,255,255,.6);
}

.alert-danger {
  position: absolute;
  top: 25px;
}

@media (max-width: 768px) {
  .footer-blurb {
    text-align: left;
  }

  .top-margin {
    margin-top: 10vh;
  }

  .next-quote {
    width: 200px;
    font-size: 1em;
  }

  .links a {
    font-size: 20px;
  }

  h1.quote {
    font-size: 36px;
  }
  .modal-dialog {
    margin: 20vh auto;
  }
}

@media (min-width: 768px) {
.modal-dialog {
    width: 600px;
    margin: 30vh auto;
  }
}